h2 {
  margin: 10px auto 15px;
}

h1 {
  margin: auto;
  padding-left: 30px;
}

header {
  width: 100%;
  margin-bottom: 0 !important;
  align-self: flex-start;
}

body {
  display: flex;
  margin:auto;
  width: 768px;
  height: 1024px;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid grey;
  align-items: flex-start;
  align-content: stretch;
}

#navbarToggle {
  display: inline;
}

.top {
  width: 100%;
  background-color: #e6e6e6;
  padding: 15px;
  border-top: 1px solid #cacaca;
}

.container {
  height: 67%;
  padding: 10px;
}

.btn-default {
  border-color: red;
  font-size: 20px;
}

.btn1 {
  background-color: red;
  color: white;
}

.btn2 {
  color: red;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 20px;
}

.submit {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-family: 'Glyphicons Halflings';
  font-size: 30px;
  color: white;
  padding: 10px 22px 10px 15px;
  background-color: #087cb5;
  border-radius: 100%;
  border: none;
}

.submit:hover {
  cursor: pointer;
}

form {
  width: 100%;
  height: 20%;
  position: relative;
  align-self: flex-end;
}

.modal {
    display:block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modal-text {
  font-size: 30px;
  margin: auto;
  padding: 10px;
}

.out {
  background-color: #e1fced;
  margin: 10px 10px 10px 10%;
}

.in {
  background-color: #e1f2fa;
  margin: 10px;
}

.msgs {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.del {
  float: right;
}

.del:hover {
  cursor: pointer;
}
